extends ../layouts/default
block content
    .container: .jumbotron
        #index-banner.section.no-pad-bot
            .container
                br
                br
                h3.header.center.black-text 404NotFound
                br
                br
        .container
            .row
                .col.l12.s12.m12.center
                    pre.page-404.
                        \n          .----.
                               _.'__    `.
                           .--($)($$)---/#\
                         .' @          /###\
                         :         ,   #####
                          `-..__.-' _.-\###/
                                `;_:    `"'
                              .'"""""`.
                             /,  ya ,\\
                            //  404!  \\
                            `-._______.-'
                            ___`. | .'___
                           (______|______)
            br
            br
