extends ../layouts/default

block content
	.container: .jumbotron
		// 大标题
		#index-banner.section.no-pad-bot
			.container
				br
				br
				h1.header.center.orange-text UbiNeiCat
				.row.center
					h5.header.col.s12.light 记录并分析您的车辆行驶习惯，提供最好的车检提醒
				.row.center
					a#download-button.btn-large.waves-effect.waves-light.orange(href='login.html') 开始使用
				br
				br
		.container
			.section
				// Icon Section
				.row
					.col.s12.m4
						.icon-block
							h2.center.light-blue-text
								i.material-icons filter_1
							h5.center First
							p.light 将OBD传感器插入您方向盘下的OBD接口，打开手机APP进行配对连接
					.col.s12.m4
						.icon-block
							h2.center.light-blue-text
								i.material-icons filter_2
							h5.center Seconde
							p.light 在App的配置页面中选择您现在驾驶的车辆
					.col.s12.m4
						.icon-block
							h2.center.light-blue-text
								i.material-icons filter_3
							h5.center Third
							p.light 登录网站查看您的形式记录
			br
			br
			.section