include ../mixins/flash-messages

doctype html
html
	head
		// meta
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		// CSS
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='/styles/site/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='/styles/site/style.css', type='text/css', rel='stylesheet', media='screen,projection')
		// 网站基础配置
		title 首页-Ubinetcar
		link(rel='icon', type='image/png', href='assets/img/favicon-32x32.ico')
		block head

	//- HTML BODY
	body
		//- HEADER
		#header
			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.
			nav.light-blue.lighten-1(role='navigation')
				.nav-wrapper.container
					a#logo-container.brand-logo(href='index.html')
						i.material-icons cloud
						| UbiNetCar
					ul.right.hide-on-med-and-down
						li
							a(href='login.html') Login
					ul#nav-mobile.side-nav
						li
							a(href='#') Navbar Link
					a.button-collapse(href='#', data-activates='nav-mobile')
						i.material-icons menu


		//- BODY
		#body
			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		#footer
			// 页脚
			footer.page-footer.orange
				.container
					.row
						.col.l6.s12.left
							h5.white-text UbiLabs
							p.grey-text.text-lighten-4
								| UbiNetCar是一个开放的项目，所有上传的车辆数据均不会向第三方机构提供，如果网站缺少您所需要的功能，
								| 您可以直接向我们提交issue，或者根据需要提交Commit，在不影响网站稳定性和安全性的前提下，我们会将您的功能整合进网站
						.l2
						.col.l2.s8
							h5.white-text Project
							ul
								li
									a.white-text(href='#!') Github
						.col.l2.s8
							h5.white-text Contact
							ul
								li
									a.white-text(href='#!') 关于我们
								li
									a.white-text(href='#!') 联系我们
				.footer-copyright
					.container
						| Made by
						a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
